/*
 * Copyright (c) 2020, Linaro Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Application overlay for testing driver builds
 *
 * Names in this file should be chosen in a way that won't conflict
 * with real-world devicetree nodes, to allow these tests to run on
 * (and be extended to test) real hardware.
 */

/ {
	test {
		#address-cells = <1>;
		#size-cells = <1>;

		test_gpio: gpio@deadbeef {
			compatible = "vnd,gpio";
			gpio-controller;
			reg = <0xdeadbeef 0x1000>;
			#gpio-cells = <0x2>;
			label = "TEST_GPIO_1";
			status = "okay";
		};

		test_gpio_leds {
			compatible = "gpio-leds";
			test_gpio_led0: test_gpio_led_0 {
				gpios = <&test_gpio 0 0>;
				label = "Test GPIO LED";
			};
		};

		test_i2c: i2c@11112222 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "vnd,i2c";
			reg = <0x11112222 0x1000>;
			label = "TEST_I2C_CTLR";
			status = "okay";
			clock-frequency = <100000>;

			test_i2c_lp5009: lp5009@14 {
				compatible = "ti,lp5009", "ti,lp50xx";
				reg = <0x14>;
				label = "LP5009";

				led_0 {
					label = "LED LP5009 0";
					index = <0>;
					color-mapping =
						<0>,
						<1>,
						<2>;
				};
			};

			test_i2c_lp503x: lp503x@15 {
					compatible = "ti,lp5030", "ti,lp50xx";
					reg = <0x15>;
					label = "LP5030";

					led_0 {
						label = "LED LP5030 0";
						index = <0>;
						color-mapping =
							<0>,
							<1>,
							<2>;
					};
			};
		};
	};
};
